<h1>Listing topics</h1>

<table>
  <tr>
    <th>Issue statement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.sequ %></td>
    <td><%= simple_format topic.issue_statement %></td>
    <% if topic.instruction %>
    <td><%= topic.instruction.content %></td>
    <% end %>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



<h2>Import Topics</h2>
<%= form_tag import_topics_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

<h2>Import Topics Groups</h2>
<%= form_tag import_topic_groups_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

<h2>Import  Group Relationships</h2>
<%= form_tag import_group_relationships_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>




<%= link_to 'New Topic', new_topic_path %>
